.cabecalho {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  height: 60px;
  padding: 0 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.615);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.41);
  z-index: 10;
    padding-left: 85px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho img {
  position: absolute;
  width: 70px;
  border-radius: 12px;
  left: -10px;
}

.cabecalho nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cabecalho nav ul li a {
  margin: 0;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  color: var(--PRETO);
  cursor: pointer;
  text-decoration: none;
}

.cabecalho a:hover{
  color: var(--VINHO);
}